<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Filmes</title>
<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-black text-white p-10">

<h1 class="text-3xl mb-6">Lista de Filmes</h1>

<a href="/filmes/novo"
class="bg-green-600 px-4 py-2 rounded">
Novo Filme
</a>

<table class="mt-6 w-full border">

<tr class="bg-zinc-800">
<th>Título</th>
<th>Ano</th>
<th>Categoria</th>
<th>⭐</th>
<th>Ação</th>
</tr>

<% filmes.forEach(f => { %>
<tr class="text-center border-t">
<td><%= f.titulo %></td>
<td><%= f.ano %></td>
<td><%= f.categoria %></td>
<td><%= f.rating %></td>

<td>
<a href="/filmes/delete/<%= f.id %>"
class="text-red-500">Excluir</a>
</td>
</tr>
<% }) %>

</table>

</body>
</html>
